* {
    box-sizing: border-box;
}
.table-container {
    margin-top: 20px;
}

.schedule-table {
    border-collapse: collapse;
    width: 100%;
}

.schedule-table th,
.schedule-table td {
    border: 1px solid #000;
    text-align: center;
}

.heads,
.time,
.data {
    width: 10%;
}


.schedule-table th {
    background-color: #f2f2f2;
}
